<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" href="/../bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="../CSS/style.css">

</head>
<body>
<div class="container">
<div id="content" class="jumbotron">
    {% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2016 by <a href="http://domain.invalid/">oadige ibis</a>.
    {% endblock %}
</div>


</div>




</body>
</html>